* {
  background-color: black;
}

.app {
  height: 100vh;
}

.menu-container {
  position: absolute;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid white 1px; */
}

.menu-items {
  display: flex;
  flex-direction: column;
}

.hamburger-icon {  
  color: white;
  font-size: 1.7em;
  margin: .2em;
}

.componentsContainer {
  padding-top: 7em;
}