* {
  background-color: black;
}

.app {
  height: 100vh;
}

.buttonsContainer {
  display: 'flex';
  flex-directions: column;
  justifiy-content: center;
}

.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-direction: column;
}

.hamburger {  
  display: inline;
  color: white;
  font-size: 2em;
  margin: 1em;
}

.componentsContainer {
  padding-top: 7em;
}