textarea {
  border: red 1px solid;
  background-color: black;
  color: white;
  height: 1em;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  resize: none;
  width: 100%;
  margin-bottom: 1em;
}



